<div fxLayout="column" fxLayoutAlign="center center" class="filter">
  <mat-form-field>
    <input
      matInput
      type="text"
      (keyup)="doFilter($any($event.target).value)"
      placeholder="Serach:"
    />
  </mat-form-field>
</div>

<mat-table [dataSource]="usersTable" matSort>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="pword">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Password
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.pword }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="buttons">
    <mat-header-cell *matHeaderCellDef> Edit<s></s> </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="openDialog(element)">
        Edit
      </button>
      &nbsp;
      <button mat-raised-button color="warn" (click)="deleteUser(element.id)">
        Delete
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
  <mat-row *matRowDef="let rows; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[1, 3, 5, 10]"></mat-paginator>
